<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="bharat" title="bharat" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Detector App</p>
                        <h1>I am <span class="txt_clr">Bharat Goswami,</span>I am a Mean Stack Developer</h1>
                        <a href="https://github.com/Bharat0118/" target="_bharat"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created by  ❤   Bharat Goswami
        </p>
    </footer>
</body>

</html>